<style>
  /*For blinking cursor*/
  .typed-cursor {
    font-size: 35px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    bottom: 50;
  }
  @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
  @-webkit-keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
  @-moz-keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
  .typed{
    display: inline;
  }
  #HadyAvatr{
    height: 800px;
  }
  #chat-page-intro{
    background-color: blue;
    background: rgba(30, 30, 30, 0.6);
    background-image: none;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 80px;
  }
  #chat-page-intro h2{
    position: relative;
    bottom: 50;
  }
  #chat-page-intro h3{
    position: relative;
    bottom: 50;
  }
  #chat-page{
    margin-left: -15px;
    margin-right: -15px;
  }
  #startHead{
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .btn-startChat{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #51B47B;
    border-color: #51B47B;
    color: #EFEEF1;
    font-size: 20px;
    position: relative;
    bottom: 30;
  }
  .btn-startChat:hover, .btn-startChat:focus, .btn-startChat:active{
    color: #EFEEF1;
    background-color: #56BE9F;
    border-color: #56BE9F;
  }
  #chat-main{
    height: 100vh;
  }
  #inner-chat{
    max-height: 90%;
    background: rgba(245, 245, 245, 0.9);
    background-image: none;
    background-repeat: no-repeat;
    padding: 15px;
    padding-bottom: 0;
    overflow: auto;
    position: relative;
  }
  .single-message{
    max-width:400px;
    margin:5px 0px 5px 0px;
    padding:5px 10px 5px 10px;
    border:1px solid #b3b3b3;
    border-radius:5px;
  }
  .single-message p{
    font-size:14px;
    margin-top:5px;
  }
  .single-message span{
    float:right;
    font-size:12px;
  }
  .clear{
    clear:both;
  }
  #chat-input{
    background: rgba(245, 245, 245, 1);
    background-image: none;
    background-repeat: no-repeat;
    border-top: 1px solid #ffffff;
    max-height: 10%;
    width: 100%;
    padding: 10px;
    display: inline-block;
  }
  #text-input{
    float: left;
    resize: none;
    width: 85%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    color: #000000;
  }
  #text-input::-webkit-scrollbar{
    display: none;
  }
  #messageFrm{
    margin-bottom: 0;
  }
  .send{
    color: #ffffff;
    padding: 5px;
    font-size: 20px;
    color: #51B47B;
    line-height: 50px;
  }
  #messageFrm a:hover{
    text-decoration: none;
    color: #56BE9F;
  }
  @media only screen and (max-width: 768px) {
    .single-message{
      max-width:250px;
    }
    #inner-chat{
      max-height:90%;
    }
    #chat-input{
      max-height:10%;
    }
    .send{
      padding: 3px;
      font-size: 16px;
      line-height: 50px;
    }
    #text-input{
      width: 75%;
    }

  }
</style>

<div id="chat-page">
  <!--<center>
  <img src="../resources/1530340779585_COUNSELOR CLIEN.png" class="img-responsive" alt="Hady Avatar" id="HadyAvatr">
</center>-->
  <div id="chat-page-intro" ng-if="getStarted">
    <img src="../resources/counsellorHead.png" id="startHead" class="img-responsive">
    <h2 id="typedHeaders" class="typed"></h2>
    <h3>"Always Caring. Always Here"</h3>
    <button class="btn btn-startChat" ng-click="setChat()">Get Started</button>
  </div>

  <div id="chat-main" ng-if="!getStarted">
    <div id="outside-side">
      <div id="inner-chat" scroll-glue>
        <div class="chat-content" ng-repeat="chat in chatContent">
          <div class="single-message" ng-style="chat.sentBy=='Christian' ? rightChat : leftChat">
                <p>{{chat.message}}</p>
                <br />
                <span>{{chat.sentDate}}</span>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="chat-input">
        <form method="POST" id="messageFrm">
          <textarea name="message" id="text-input" cols="30" rows="2" class="form-control" placeholder="Please Type a message to send"></textarea>
          <a class="send"><i class="fa fa-paper-plane fa-lg"></i>&nbsp;Send</a>
        </form>
      </div>
    </div>
  </div>
</div>
