<style>
[ng-click],
[data-ng-click],
[x-ng-click], a {
    cursor: pointer;
}
.spinner {
margin: 100px auto 0;
width: 70px;
text-align: center;
float: left;
margin-bottom: 10px;
margin-left: 20px;
}

.spinner > div {
width: 18px;
height: 18px;
background-color: #333;

border-radius: 100%;
display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}

.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0) }
40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
  /*For blinking cursor*/
  .typed-cursor {
    font-size: 35px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    bottom: 50;
  }
  @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
  @-webkit-keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
  @-moz-keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
  .typed{
    display: inline;
  }
  #HadyAvatr{
    height: 800px;
  }
  #chat-page-intro{
    background-color: blue;
    background: rgba(30, 30, 30, 0.6);
    background-image: none;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 80px;
  }
  #chat-page-intro h2{
    position: relative;
    bottom: 50;
  }
  #chat-page-intro h3{
    position: relative;
    bottom: 50;
  }
  #chat-page{
    margin-left: -15px;
    margin-right: -15px;
  }
  #startHead{
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .btn-startChat{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #51B47B;
    border-color: #51B47B;
    color: #EFEEF1;
    font-size: 20px;
    position: relative;
    bottom: 30;
  }
  .btn-startChat:hover, .btn-startChat:focus, .btn-startChat:active{
    color: #EFEEF1;
    background-color: #56BE9F;
    border-color: #56BE9F;
  }
  #chat-main{
    height: 100vh;
  }
  #inner-chat{
    height: 90%;
    background: rgba(245, 245, 245, 0.9);
    background-image: none;
    background-repeat: no-repeat;
    padding: 15px;
    padding-bottom: 0;
    overflow: auto;
    position: relative;
  }
  .single-message{
    max-width:400px;
    margin:5px 0px 5px 0px;
    padding:5px 10px 5px 10px;
    border:1px solid #b3b3b3;
    border-radius:5px;
  }
  .single-message p{
    font-size:14px;
    margin-top:5px;
  }
  .single-message span{
    float:right;
    font-size:12px;
  }
  .clear{
    clear:both;
  }
  #chat-input{
    background: rgba(245, 245, 245, 1);
    background-image: none;
    background-repeat: no-repeat;
    border-top: 1px solid #ffffff;
    max-height: 10%;
    width: 100%;
    padding: 10px;
    display: inline-block;
  }
  #text-input{
    float: left;
    resize: none;
    width: 85%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    color: #000000;
  }
  #text-input::-webkit-scrollbar{
    display: none;
  }
  #messageFrm{
    margin-bottom: 0;
  }
  .send{
    color: #ffffff;
    padding: 5px;
    font-size: 20px;
    color: #51B47B;
    line-height: 50px;
  }
  #messageFrm a:hover{
    text-decoration: none;
    color: #56BE9F;
  }
  #quickReply{
    padding-bottom: 15px;
    color: #000000;
  }
  #quickReply .btn{
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #00aabb;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
  }
  #quickReply .btn:hover{
    background-color: #00aabb;
    color: #ffffff;
  }
  @media only screen and (max-width: 768px) {
    .single-message{
      max-width:240px;
    }
    #inner-chat{
      margin-top: -10px;
      max-height:90%;
    }
    #chat-input{
      max-height:10%;
    }
    .send{
      padding: 3px;
      font-size: 16px;
      line-height: 50px;
    }
    #text-input{
      width: 75%;
    }

  }
</style>

<div id="chat-page">
  <!--<center>
  <img src="../resources/1530340779585_COUNSELOR CLIEN.png" class="img-responsive" alt="Hady Avatar" id="HadyAvatr">
</center>-->
  <div id="chat-page-intro" ng-if="getStarted">
    <img src="../resources/counsellorHead.png" id="startHead" class="img-responsive">
    <h2 id="typedHeaders" class="typed"></h2>
    <h3>"Always Caring. Always Here"</h3>
    <button class="btn btn-startChat" ng-click="setChat()">Get Started</button>
  </div>

  <div id="chat-main" ng-if="!getStarted">
    <div id="outside-chat">
      <div id="inner-chat" scroll-glue=true>
        <div class="chat-content" ng-repeat="chat in chatContent">
          <img class="img-responsive" ng-style="chat.SentBy !='Hady' ? rightDp : leftDp" ng-src="../avatars/{{chat.Icon}}" alt="dp" />
          <div class="single-message" ng-style="chat.SentBy !='Hady' ? rightChat : leftChat">
                <p ng-bind-html="chat.Message"></p>
                <br />
                <span>{{chat.SentDate}}</span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="spinner" ng-if="loadingChat">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <center>
        <div id="quickReply" ng-if="quickReplies.length > 0">
          <input class="btn" type="button" ng-repeat="btn in quickReplies" ng-value="btn" name="quickie" ng-click="SetText(btn)">
        </div>
        <center>
      </div>
      <div id="chat-input">
        <div id="messageFrm" ng-show="!talkThe">
          <textarea cols="30" rows="2" class="form-control" placeholder="Please Type a message to send" ng-model="$parent.userMessage" ng-keypress="($event.keyCode === 13 && !$event.shiftKey) && Send()" id="text-input"></textarea>
          <a class="send" ng-click="Send()"><i class="fa fa-paper-plane fa-lg"></i>&nbsp;Send</a>
          <!--<a class="send" ng-click="Trial()"><i class="fa fa-paper-plane fa-lg"></i>&nbsp;try</a>-->
        </div>
        <div id="messagess" ng-hide="!talkThe">
          <p style="color:#000000;">Note: Please go to your guidance counselling office.</p><br>
        </div>
      </div>
    </div>
  </div>
</div>
